<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product
        Id='*'
        Name='ZenLavaTerm'
        UpgradeCode='7E4E9871-3DB6-4B07-A961-A79B6C1DE78A'
        Manufacturer='ZenLavaTerm Contributors'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package
            Id='*'
            Keywords='Installer'
            Description='ZenLavaTerm Desktop Installer'
            Comments='A high-performance, terminal-native ambient lava lamp and metaball visualizer'
            Manufacturer='ZenLavaTerm Contributors'
            InstallerVersion='200'
            Languages='1033'
            Compressed='yes'
            SummaryCodepage='1252'
            Platform='x64' />

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed.' />

        <MediaTemplate EmbedCab='yes' />

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles64Folder' Name='PFiles'>
                <Directory Id='INSTALLDIR' Name='ZenLavaTerm'>
                    <Component Id='MainExecutable' Guid='8C751F2A-D9A3-41E9-96A5-1F928A649E82' Win64='yes'>
                        <File Id='ZenLavaTermEXE' Name='lavaterm.exe' DiskId='1' Source='$(var.SourceDir)\lavaterm.exe' KeyPath='yes' />
                        <Environment Id='PATH' Name='PATH' Value='[INSTALLDIR]' Permanent='no' Part='last' Action='set' System='yes' />
                    </Component>
                    <Component Id='LicenseFile' Guid='5E19A2B4-9F81-460B-8839-2A71021E6A83' Win64='yes'>
                        <File Id='LicenseFile' Name='LICENSE' DiskId='1' Source='LICENSE' KeyPath='yes' />
                    </Component>
                    <Component Id='ReadmeFile' Guid='3E29C3D5-8A71-471B-9729-1B62030E5B94' Win64='yes'>
                        <File Id='ReadmeFile' Name='README.md' DiskId='1' Source='README.md' KeyPath='yes' />
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id='Complete' Level='1'>
            <ComponentRef Id='MainExecutable' />
            <ComponentRef Id='LicenseFile' />
            <ComponentRef Id='ReadmeFile' />
        </Feature>
    </Product>
</Wix>
